
// Highlighting - site

::-webkit-selection {
 background: $color-primary;
 color: $color-white;
}

::-moz-selection {
 background: $color-primary;
 color: $color-white;
}

::selection { 
 background: $color-primary;
 color: $color-white;
}

:focus {outline:none;}