// lists

ul{
	margin-left: 0;
	margin-left: 0;
}

ol{
	margin-left: 0;
}

// definition lists

dl{
	margin-left: 0;
	margin-bottom: 20px;

	dt{
		margin-left: 0;
		font-weight: $font-base-weight-heavy;
	}

	dd{
		margin-left: 0;
		margin-bottom: 10px;
	}
}

.list-unstyled{
	@include zero-list;
}
.form-list{
	@include zero-list;
}