//tables

table{
	border-collapse: collapse; 
	width: 100%;

	thead{
		

		th{
			/*@include font-size(14px);*/
			text-align: left;
			font-weight: normal; 
			background: $color-primary;
			color: $color-white;
		}
	}

	tbody{
		color: $color-primary;
		tr{
			/*@include font-size(14px);*/
			border-bottom: 1px solid $color-tertiary;
		}
		td{
			font-weight: $font-base-weight;
		}
	}

	th,
	td{
		padding: 10px 15px; 
	}
}